.root {
  display: flex;
  flex-direction: column;
  padding: 10px;

  margin-top: 20px;
}

.transaction {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.info div {
  padding: 10px 0;
}

.link {
  padding: 10px 0;
}
